<section>
    <h1>Connexion Membre</h1>

    <form method="post" action="/users/login">
        <div>
            <label>Login membre : </label>
            <input type="text" name="memberLogin" value="" placeholder="exo" />
        </div>
        <div>
            <label>Password membre : </label>
            <input type="password" name="memberPassword" value="" />
        </div>
        <div>
            <input type="submit" value="Me connecter">
        </div>
    </form>
</section>