<section>
    <p> Bonjour {{memberLogin}} !</p>
</section>
<section>
    <form method="post" action="/users/logout">
        <div>
            <input type="submit" value="Me Déconnecter">
        </div>
    </form>
</section>