<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>ClassNotFound | Projet Web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/5a8b172b16.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/favicon.io">
  </head>
  <body class="m-0 p-0 h-screen">
    {{>header}}
    {{{body}}}
    {{>footer}}
  </body>
</html>
