<header>
    <img src="/images/logo.png" alt="logo">
    <nav>
        <ul>
            <li> <a href="/"> Accueil</a> </li>
            <li> <a href="/exoplanets"> Exoplanètes</a></li>
            <li> <a href="/users/login">Se connecter</a></li>
            <li> <a href="/users/register">S'enregistrer</a></li>
        </ul>
    </nav>  
</header>