<!DOCTYPE html>
<html>
  <head>
    <title>Exo JavaScript Planet</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
  </body>
</html>
