<section>
    <form method="post" action="/users/login">
        <label>
            Email : <input type="text" name="email"/>
        </label>
        <br />
        <label>
            Password : <input type="password" name="password"/>
        </label>
        <br />
        <input type="submit" value="Se connecter">
    </form>
</section>